body {
  background-color: #4dbd90;
}

.navbar-brand img {
  width: 80px;
  height: auto;
  margin: auto;
}

.navbar {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  padding: 0 10%;
  height: 70px;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: 'Kenia', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  margin-top: 10px;
}

.navbar-brand {
  font-family: 'Kenia', sans-serif;
  font-size: 30px;
}

.nav-link {
  font-family: 'Kenia', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
}
