@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kenia&family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka:wght@300&family=Indie+Flower&family=Kenia&family=Nanum+Gothic:wght@700&display=swap');

@font-face {
  font-family: 'Handmade';
  src: url(/font/Handmade.otf) format('opentype');
  font-family: 'OldNewspaperTypes';
  src: url(/font/OldNewspaperTypes.ttf) format('woff2');
}

@font-face {
  font-family: 'Helvetica';
  src: url(/font/Helvetica.otf) format('woff');
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.navbar-brand img {
  width: 80px;
  height: auto;
  margin: auto;
}

.navbar {
  background-color: #4dbd90;
  display: flex;
  align-items: center;
  padding: 0 10%;
  height: 70px;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: 'Kenia', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
}

.navbar img {
  height: 50px;
}

.navbar-brand {
  font-family: 'Kenia', sans-serif;
  font-size: 30px;
}

.nav-link {
  font-family: 'Kenia', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 80px;
}

.card {
  margin-top: 40px;
  margin-left: 150px;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #4dbd90;
  margin-top: 100px;
}
