@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kenia&family=Nanum+Gothic:wght@700&display=swap');

@font-face {
  font-family: 'Handmade';
  src: url(/font/Handmade.otf) format('opentype');
  font-family: 'OldNewspaperTypes';
  src: url(/font/OldNewspaperTypes.ttf) format('woff2');
}

@font-face {
  font-family: 'Helvetica';
  src: url(/font/Helvetica.otf) format('woff');
}

body {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #2dacb4;
}

.navbar-brand {
  font-family: 'Kenia', sans-serif;
  font-size: 200%;
}

.nav-link {
  font-family: 'Kenia', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
}

.img {
  float: left;
  width: 400px;
  height: 200px;
}

.fotodonasi {
  margin-top: 30px;
  padding: 5px 20px;
}

.fotodonasi img {
  width: 600px;
  height: 300px;
  border-radius: 11px;
  border: 2px solid black;
}

h1 {
  font-family: 'OldNewspaperTypes', sans-serif;
  float: right;
  text-decoration: underline;
  text-decoration-color: red;
  margin-top: 130px;
  margin-right: 50px;
  font-size: 28px;
  text-justify: auto;
}

p {
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  margin-top: 90px;
  text-justify: auto;
}

hr {
  border: 4px solid;
  margin: 20px 0;
}

/* styles.css */

#progress-bar-container {
  margin-left: 420px;
  width: 400px;
  border: 1px solid #ccc;
  background-color: #323030;
  overflow: hidden;
  border-radius: 15px;
  margin-left: 500px;
}

#progress-bar {
  width: 30%;
  height: 38px;
  background-color: #79b55d;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 15px;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-custom {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-size: 1.5em;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
  width: 300px; /* Menyesuaikan lebar */
  height: 80px; /* Menyesuaikan tinggi */
}

.btn-custom.active {
  background-color: #00d62f;
  color: black;
  border: solid #ffb800;
  border-radius: 26px;
}

h2 {
  margin: 30px;
}

.buttonnext {
  margin: 15px;
  width: 613px;
  height: 50px;
  background-color: #46ba7b;
  color: white;
  border: solid 1px;
}

.nextbut {
  margin: 40px;
  margin-left: 330px;
}
